<div id='{{ elementId }}' class='message-alert' role='alert'>
    <a href="#" class="button button-danger button-close" aria-label="Close"></a>
    <div class="message-container">
        <div class="message"><span class="icon"></span></div>

        {{ message }}
    </div>
</div>