<hr/>

<div class="row">
    <div class="col-md-12">
        <div class="fw-bold">Het weer in {{ city }}</div>

        <div class="row">
            <div class="col-md-12">{{ general }}</div>
        </div>

        <div class="row">
            <div class="col-md-7">Temperatuur</div>
            <div class="col-md-5">{{ temperature }} °F</div>
        </div>

        <div class="row">
            <div class="col-md-7">Luchtvochtigheid</div>
            <div class="col-md-5">{{ humidity }}%</div>
        </div>
    </div>
</div>