@keyframes shiver {
  2%, 18% {
    transform: translate3d(-5px, 0, 0);
  }

  4%, 16% {
    transform: translate3d(5px, 0, 0);
  }

  6%, 10%, 14% {
    transform: translate3d(-5px, 0, 0);
  }

  8%, 12% {
    transform: translate3d(5px, 0, 0);
  }

  18.1% {
    transform: translate3d(0px, 0, 0);
  }
}