* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.message-alert {
    position: relative;
    min-height: 75px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid transparent;
}

.message-alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

.message-alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.message-alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.message-alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

.message-alert .button-close {
    float: right;
}

.message-alert .actions {
    margin-top: 3rem;
    text-align: right;
    justify-content: flex-end;
}

.message-alert .message {
    margin-top: 35px;
}

.message-alert.show {
    display: block;
    animation: fadein 1s linear;
    opacity: 1;
}

.message-alert.hide {
    display: block;
    animation: fadeout 1s linear;
    opacity: 0;
}

button, .button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: .5rem;
}

.button-primary {
    color: #ffffff;
    background-color: rgba(13, 202, 240);
    border: 0;
}

.button-primary:hover, .button-primary:focus, .button-primary:active {
    border-color: rgba(13, 202, 240);
    box-shadow: 0 0 0 0.25rem rgb(11 181 216);
}

.button-danger {
    color: #ffffff;
    background-color: #dc3545;
    border: 0;
}

.button-danger:hover, .button-danger:focus, .button-danger:active {
    border-color: #b02a37;
    box-shadow: 0 0 0 0.25rem #b02a37;
}

.button-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    margin: 0;
    background: #dc3545 url("../src/icons/actions/close-icon.svg") center/1em auto no-repeat;
}

@keyframes shiver {
    2%, 18% {
        transform: translate3d(-5px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(5px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-5px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(5px, 0, 0);
    }

    18.1% {
        transform: translate3d(0px, 0, 0);
    }
}

.button-accept {
    transform: translate3d(0, 0, 0);
    -webkit-animation-name: shiver;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
}

@media (min-width: 481px) {
    .message-alert .message {
        margin-top: 0;
    }

    .message-alert .message-container .icon {
        background-image: url("../src/icons/actions/info-icon.svg");
        background-size: 25px 25px;
        display: inline-block;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        content: "";
        margin-right: 10px;
    }

    .message-alert-info .message-container .icon {
        background-image: url("../src/icons/actions/info-icon.svg");
    }

    .message-alert-danger .message-container .icon {
        background-image: url("../src/icons/actions/error-icon.svg");
    }

    .message-alert-success .message-container .icon {
        background-image: url("../src/icons/actions/success-icon.svg");
    }

    .message-alert-warning .message-container .icon {
        background-image: url("../src/icons/actions/warning-icon.svg");
    }
}
